# .env
POSTGRES_DATABASE=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_PORT=
REDIS_PORT=
REDIS_HOST=
REDIS_USER=
REDIS_PASSWORD=
REDIS_ENDPOINT=
DATABASE_URL=
JWT_SECRET=
BREVO_SMTP_USERNAME=
BREVO_SMTP_PASSWORD=
FRONTEND_URL=
OPENAI_API_KEY=